body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-39xl: 58px;
  --font-size-16xl: 35px;
  --font-size-27xl: 46px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-131xl: 150px;
  --font-size-18xl: 37px;
  --font-size-41xl: 60px;
  --font-size-11xl: 30px;
  --font-size-51xl: 70px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #929292;
  --color-gray-200: #1f1f1f;
  --color-lightgray: #d1d1d1;
  --color-darkslategray: #313131;
  --color-dimgray-100: #545454;
  --color-dimgray-200: #525252;
  --color-whitesmoke: #f1f1f1;
  --color-darkgray: #9b9b9b;
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-38xl: 57px;
  --gap-xl: 20px;
  --gap-51xl: 70px;
  --gap-mid: 17px;
  --gap-16xl: 35px;
  --gap-26xl: 45px;
  --gap-3xl: 22px;
  --gap-15xl: 34px;
  --gap-32xl: 51px;
  --gap-6xl: 25px;
  --gap-7xl: 26px;
  --gap-59xl: 78px;
  --gap-lgi: 19px;
  --gap-20xl: 39px;
  --gap-5xl: 24px;
  --gap-sm: 14px;
  --gap-11xl: 30px;
  --gap-mini: 15px;
  --gap-12xs: 1px;
  --gap-4xl-5: 23.5px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-6xl: 25px;
  --padding-8xl: 27px;
  --padding-2xl: 21px;
  --padding-3xs: 10px;
  --padding-9xl: 28px;
  --padding-19xl: 38px;
  --padding-24xl: 43px;
  --padding-25xl: 44px;
  --padding-97xl: 116px;
  --padding-37xl: 56px;
  --padding-3xl: 22px;
  --padding-56xl: 75px;
  --padding-11xs: 2px;
  --padding-base: 16px;
  --padding-18xl: 37px;
  --padding-4xl: 23px;
  --padding-sm-9: 13.9px;
  --padding-17xl: 36px;
  --padding-12xl: 31px;
  --padding-62xl: 81px;
  --padding-5xs: 8px;
  --padding-8xs: 5px;
  --padding-7xs: 6px;
  --padding-10xl: 29px;
  --padding-lg: 18px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-11xs: 2px;
}
